
*{
  height: 100%;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

}

.game {
  width: 80%;
  height:60%;
  border: 1px solid black;
  position: relative;
}

.ball {
  
  position: absolute;
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  border: 1px solid black;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.position {
  position: absolute;
  top: 0;
  left: 50%;
}
